header {
    padding-top: 20px;
    overflow-x: hidden;
}

nav {
    font-family: $primaryFont;
    background-color: white;
    height: 75px;
    margin: 15px 0;
    border-bottom: 2px solid $lightTeal;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: flex-end;
    
    .mainMenu {
        display: flex;
        margin: 0;
        position: relative;
        li {
            padding-left: 20px;
        }
    }

    .subMenu {
        background-color: $lightTeal;
        color: white;
        line-height: 2rem;
        width: 210px;
        display: flex;
        flex-direction: column;
        position: absolute;
        transition-property: all;
        transition-duration: 0.25s;
        padding: 10px;
        top: 28px;
        right: -1000px;
    }

    img {
        width: 7%;
        min-width: 50px;
        padding: 5px;
    }
    

    .subMenu li:hover {
        color: $gatewayTeal;
    }
    
    .fa-chevron-left {
        transition: all ease-in-out 0.25s;
        &.active {
            transform: rotate(180deg);
        }
    }

    input[type="checkbox"]:checked + ul{
        right: 0;
    }
    
    input[type="checkbox"]{
        display: none;
    }

}


.introFlex {
    background: $gatewayTeal;
    color: white;
    padding: 40px 20px;
    display: flex;
    margin-bottom: 50px;

    h1{
        font-size: 4.5rem;
        line-height: 5rem;
        letter-spacing: 0.08rem;
        text-align: right;
        padding-right: 30px;
        flex: 35%;
    }
    .introEx {
        flex: 65%;
        padding-left: 30px;
        border-left: 2px solid white;
        h2 {
            font-size: 3.5rem;
            font-style: italic;
        }
        ul {
            list-style: square;
        }
        strong {
            color: $lightTeal;
        }
    }
}