.cardPrevCont {
    border-top: 2px solid $lightTeal;
    border-bottom: 2px solid $lightTeal;
    margin-bottom: 50px;
    h3 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 25px;
        padding-top: 25px;
    }
}
.cardPrevList {
    padding: 0 0 25px 0;
    display: flex;
    justify-content: space-between;
    li {
        padding: 0 10px;
        img {
            cursor: pointer;
            box-shadow: 5px 5px 0 $lightTeal;
            border-radius: 5%;
        }
        img:hover,
        img:focus {
            transform: scale(1.05);
        }
        img:active,
        img:focus {
            position: relative;
            left: 5px;
            top: 5px;
            box-shadow: none;
        }
    }
}

.explainer {
    margin-bottom: 70px;
    display: flex;
    .lrgImgContainer {
        flex: 30%;
        margin-right: 25px;
        padding-top: 35px;
        img{
            border-radius: 5%;
        }
    };
    article {
        background-color: $lightGrey;
        padding: 40px;
        flex: 70%;
        margin-left: 25px;
        box-shadow: 10px 10px 0 $lightTeal;
        h4 {
            font-size: 2.5rem;
            color: $gatewayTeal;
            border-bottom: 1.5px solid $gatewayTeal;
        }
    }
}

footer {
    background-color: $gatewayTeal;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px 10%;
    text-align: center;

    p {
        margin: 0;
    }

    a {
        color: $lightGrey;
        text-decoration: underline $lightTeal;
    }
}