// Colours
$gatewayTeal:#075553;
$lightTeal:#82aaaa;
$darkGrey:#58595b;
$lightGrey:#e6e7e9;

// Type
$primaryFont:'Ubuntu', sans-serif;
$bodyFont:'Roboto', sans-serif;

// MQ Screen Widths
$smallDesktop: 900px;
$tabletVertical: 768px;
$mobileHorizontal: 667px;
$mobileVertical: 414px;