html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  padding-top: 20px;
}

nav {
  font-family: "Ubuntu", sans-serif;
  height: 75px;
  padding: 15px 0;
  border-bottom: 2px solid #82aaaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  padding-left: 20px;
}

nav img {
  width: 5%;
  min-width: 50px;
}

nav li {
  position: relative;
}

nav li .subMenu {
  background-color: #82aaaa;
  color: white;
  line-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  overflow: hidden;
  padding: 10px;
  top: -350px;
  right: 0;
}

nav .mainMenu li:hover .subMenu,
nav .mainMenu li:focus-within .subMenu {
  height: auto;
  top: 25px;
}

nav .subMenu li:hover {
  color: #075553;
}

.introFlex {
  background: #075553;
  color: white;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.introFlex h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  letter-spacing: 0.08rem;
  text-align: right;
  padding-right: 30px;
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
}

.introFlex .introEx {
  -webkit-box-flex: 65%;
      -ms-flex: 65%;
          flex: 65%;
  padding-left: 30px;
  border-left: 2px solid white;
}

.introFlex .introEx h2 {
  font-size: 3.5rem;
  font-style: italic;
}

.cardPrevCont {
  border-top: 2px solid #82aaaa;
  border-bottom: 2px solid #82aaaa;
  margin-bottom: 50px;
}

.cardPrevCont h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 25px;
}

.cardPrevList {
  padding: 0 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardPrevList li {
  padding: 0 10px;
}

.cardPrevList li img {
  -webkit-box-shadow: 5px 5px 0 #82aaaa;
          box-shadow: 5px 5px 0 #82aaaa;
  border-radius: 5%;
}

.cardPrevList li img:hover,
.cardPrevList li img:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cardPrevList li img:active,
.cardPrevList li img:focus {
  position: relative;
  left: 5px;
  top: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.explainer {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explainer .lrgImgContainer {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  margin-right: 25px;
  padding-top: 35px;
}

.explainer .lrgImgContainer img {
  border-radius: 5%;
}

.explainer article {
  background-color: #e6e7e9;
  padding: 40px;
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  margin-left: 25px;
  -webkit-box-shadow: 10px 10px 0 #82aaaa;
          box-shadow: 10px 10px 0 #82aaaa;
}

.explainer article h4 {
  font-size: 2.5rem;
  color: #075553;
  border-bottom: 1.5px solid #075553;
}

footer {
  background-color: #075553;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 20px 10%;
}

@media (max-width: 900px) {
  .introFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introFlex h1,
  .introFlex h2 {
    text-align: center;
    padding: 0;
  }
  .introFlex .introEx {
    padding: 30px;
    border-top: 2px solid white;
    border-left: none;
  }
}

@media (max-width: 768px) {
  .introFlex h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    padding-bottom: 15px;
  }
  .introFlex .introEx h2 {
    font-size: 2.5rem;
  }
  .cardPrevCont h3 {
    font-size: 2.5rem;
  }
  .explainer {
    display: block;
  }
  .lrgImgContainer {
    width: 35%;
    float: right;
    margin-left: 20px;
  }
}

@media (max-width: 667px) {
  .introFlex h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding-bottom: 15px;
  }
  .introFlex .introEx h2 {
    font-size: 1.8rem;
  }
  .introFlex p {
    text-align: center;
  }
  .cardPrevCont h3 {
    font-size: 1.5rem;
  }
  .cardPrevCont ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cardPrevCont ul li {
    width: 30%;
    margin: 10px;
  }
}

body {
  color: #58595b;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: none;
  margin: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

h1,
h2,
h3,
h4 {
  font-family: "Ubuntu", sans-serif;
  margin: 0 auto;
}

p {
  line-height: 1.8rem;
}

nav a, nav li {
  font-size: 1.5rem;
  text-align: right;
}
